* {
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  font-family: "Quicksand", sans-serif;
}
.erro {
  max-width: 600px;
  margin: 0 auto;
}
.erro_page .erro h1 {
  font-size: 130px;
  font-weight: bold;
  color: var(--color-blog);
  letter-spacing: 5px;
}
.erro_page .erro .ic_smile {
  font-size: 120px;
}
.erro_page .erro h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--color-blog);
}
.erro_page .erro p {
  margin-top: 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--card-a);
}
.erro input {
  font-size: 18px;
  color: rgb(22 28 45 / 70%);
  background-color: #f7f7f7;
  line-height: 28px;
  height: 55px;
  font-weight: 500;
  padding: 12px 120px 12px 25px;
  border-radius: 8px;
  margin-right: 15px;
  border-color: rgba(0, 0, 0, 0.075);
  transition: all 0.5s;
}
.erro input:focus {
  outline: none;
  border: 2px solid #ff6600;
  box-shadow: none;
}
.erro button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #ff6600;
  padding: 0 40px;
  border: none;
  height: 55px;
  border-radius: 8px;
}
.erro button:hover {
  background-color: #ff6600c9;
  box-shadow: none;
}
.erro a {
  display: inline-block;
  text-decoration: none;
  margin-top: 50px;
  color: var(--color-blog);
  font-weight: 600;
  background-color: transparent;
  transition: all 0.5s;
}
.erro .icon {
  padding-right: 15px;
  color: var(--card-a);
}
.erro a:hover {
  color: #ff6600;
}
@media only screen and (max-width: 992px) {
  .erro_page .erro h1 {
    font-size: 90px;
  }
  .erro_page .erro .ic_smile {
    font-size: 90px;
  }
  .erro_page .erro a {
    font-size: 18px;
  }
  .erro_page .erro .icon {
    font-size: 15px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .erro_page .erro h1 {
    font-size: 70px;
  }
  .erro_page .erro .ic_smile {
    font-size: 70px;
  }
  .erro_page .erro h2 {
    font-size: 23px;
  }
  .erro input {
    padding: 12px 60px 12px 25px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .erro button {
    padding: 0 110px;
  }
  .erro a {
    margin-top: 20px;
  }
}
/*--/footer--*/
.w3l-copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}

.w3l-footer-29-main {
  background: var(--footer-bg);
}

.w3l-footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.w3l-footer-29-main h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.w3l-footer-29-main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}

.w3l-footer-29-main .subscribe input[type="email"]:focus {
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
}

.w3l-footer-29-main .footer-list-29 ul li,
.w3l-footer-29-main
  .midd-footer-29:nth-child(1)
  .footer-list-29
  ul
  li:last-child {
  list-style: none;
  margin-bottom: 10px;
}

.w3l-footer-29-main .footer-list-29 ul li:last-child {
  margin-bottom: 0px;
}

.w3l-footer-29-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.w3l-footer-29-main .footer-list-29 ul li a,
.w3l-footer-29-main .footer-list-29 ul li p,
.w3l-copyright .footer-list-29 ul li a,
.w3l-footer-29-main a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.w3l-footer-29-main .footer-list-29 ul li a:hover,
.w3l-copyright .footer-list-29 ul li a:hover,
.w3l-footer-29-main a:hover {
  color: var(--primary-color);
}

.main-social-footer-29 a {
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.main-social-footer-29 a span.fa {
  line-height: 36px;
}
.main-social-footer-29 a:hover {
  background: var(--primary-color);
  transition: 0.3s;
  color: #fff;
}

.footer-list-29 ul li span.fa {
  width: 25px;
}

.w3l-copyright .copy-footer-29 a {
  color: var(--primary-color);
}

.w3l-copyright .copy-footer-29 a:hover {
  color: #fff;
}

.w3l-copyright {
  padding: 1.2em 0;
  background: var(--footer-bg);
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.w3l-footer-29-main .footer-29 form {
  margin-top: 25px;
  position: relative;
}

.w3l-footer-29-main .footer-post a {
  font-weight: 500;
  color: #ccc;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 4px;
  display: inline-block;
}

.w3l-footer-29-main .footer-post a:hover {
  color: #eee;
}

.w3l-footer-29-main .map-iframe-ft iframe {
  -webkit-filter: var(--iframe-filter);
  -moz-filter: var(--iframe-filter);
  -ms-filter: var(--iframe-filter);
  -o-filter: var(--iframe-filter);
  filter: var(--iframe-filter);
  height: 200px;
  border-radius: var(--border-radius);
}
.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}
@media (max-width: 992px) {
  .w3l-copyright .copy-footer-29 {
    text-align: center;
  }

  .w3l-footer-29-main .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }

  .w3l-footer-29-main ul.list-btm-29 {
    text-align: center;
    margin-top: 10px;
  }

  .w3l-footer-29-main h6.footer-title-29 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .w3l-copyright .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 415px) {
  .w3l-footer-29-main .footer-list-29 ul li,
  .w3l-footer-29-main
    .midd-footer-29:nth-child(1)
    .footer-list-29
    ul
    li:last-child {
    margin-bottom: 8px;
  }
  .w3l-footer-29-main a.navbar-brand {
    font-size: 26px;
  }
}
@media screen and (max-width: 992px) {
  .sv_about .title2 {
    font-size: 30px;
    line-height: 40px;
  }
  .sv_about .text_title {
    margin-bottom: 50px;
  }
  .sv_opsion .item {
    margin-bottom: 20px;
  }
  .banner_title .titlebn {
    padding: auto;
  }
}
@media screen and (max-width: 768px) {
  .sv_banner {
    height: auto;
  }
  .sv_banner .banner_button button {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .sv_banner .banner_title h2 {
    font-size: 35px;
    padding: 20px 0;
  }
  .banner_button {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 576px) {
  .sv_opsion .item {
    margin-bottom: 20px;
  }
  .sv_banner .banner_button button {
    padding: 15px 30px;
  }
  .sv_banner .banner_title h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 30px 0 20px 0;
    color: white;
  }
  .service_menu .menu_item h4 {
    font-size: 18px;
  }
}
